---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About me"
  description="lotkanについての説明"
  pubDate={new Date("2023/04/15")}
  updatedDate={new Date("2023/04/15")}
  heroImage="/placeholder-about.jpg"
>
  <h2>SNS</h2>
  <ul>
    <li>
      <a href="https://github.com/lotkan3">GitHub</a>
    </li>
    <li>
      <a href="https://twitter.com/lotkan3">Twitter</a>
    </li>
  </ul>
  <h2>Work</h2>
  <p>都内のIT系企業でインフラエンジニア兼マネージャーをしています。</p>
</Layout>
