---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About me"
  description="私(tkan)についての説明"
  pubDate={new Date("2023/04/15")}
  updatedDate={new Date("2023/04/22")}
  heroImage="/placeholder-about.webp"
>
  <h2>Links</h2>
  <ul>
    <li>
      GitHub: <a href="https://github.com/tkancf">@tkancf</a>
    </li>
    <li>
      Twitter: <a href="https://twitter.com/tkancf">@tkancf</a>
    </li>
    <li>
      Bluesky: <a href="https://bsky.app/profile/tkancf.bsky.social"
        >@tkancf.bsky.social</a
      >
    </li>
    <li>
      <a href="https://tkancf.hateblo.jp/">はてなブログ</a>:
      このサイト以前に使っていたブログです。
    </li>
    <li>
      <a href="https://qiita.com/tkancf">Qiita</a>:
      昔ちょっとだけ記事を書きました。
    </li>
  </ul>
  <h2>仕事</h2>
  <ul>
    <li>都内のIT系企業でインフラエンジニアとマネージャーをしています。</li>
  </ul>
</Layout>
