---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About me"
  description="私(tkan)についての説明"
  pubDate={new Date("2023/04/15")}
  updatedDate={new Date("2023/04/22")}
  heroImage="/placeholder-about.webp"
>
  <h2>SNSアカウント・ID</h2>
  <ul>
    <li>
      全体的に: 文字列 「<strong>tkan</strong
      >」を含むIDを利用している場合が多いです。<br />
      <ul>
        <li>読み方は「てぃーかん」を想定していますが、何でも大丈夫です。</li>
        <li>
          空が好きなので、OGP画像・SNSアイコンに空の画像を多用しています。
        </li>
      </ul>
    </li>
    <li>
      GitHub: <a href="https://github.com/tkancf">@tkancf</a>
    </li>
    <li>
      Twitter: <a href="https://twitter.com/lotkan3">@lotkan3</a>
    </li>
  </ul>
  <h2>仕事</h2>
  <p>都内のIT系企業でインフラエンジニア兼マネージャーをしています。</p>
</Layout>
