---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About me"
  description="lotkanについての説明"
  pubDate={new Date("2023/04/15")}
  updatedDate={new Date("2023/04/15")}
  heroImage="/placeholder-about.webp"
>
  <h2>SNSアカウント</h2>
  <ul>
    <li>
      GitHub: <a href="https://github.com/lotkan3">@lotkan3</a>
    </li>
    <li>
      Twitter: <a href="https://twitter.com/lotkan3">@lotkan3</a>
    </li>
  </ul>
  <h2>仕事</h2>
  <p>都内のIT系企業でインフラエンジニア兼マネージャーをしています。</p>
</Layout>
