---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>lotkan.comへようこそ！</h1>
      <h2>このサイトについて</h2>
      <p>
        ようこそ、<strong>lotkan.com</strong>へ！
        このサイトでは、私が気になったIT技術について試し、得られた知見を共有します。
      </p>
      <h2>記事のカテゴリー</h2>
      <ul>
        <li>プログラミング言語</li>
        <li>Web開発</li>
        <li>CLI</li>
        <li>マネジメント</li>
        <li>etc...</li>
      </ul>
      <h2>質問・意見・感想など</h2>
      <p>
        質問・意見・感想などは
        <a href="https://github.com/lotkan3/lotkan.com/issues">GitHub Issue</a>
        へお願いします。
      </p>
    </main>
    <Footer />
  </body>
</html>
